/* Show it is fixed to the top */
body { padding-top: 4.5rem; }

#codeigniter-profiler pre { color: #aaa; } /* application/third_party/codeigniter-forensics */

.loader {
    background: black center center no-repeat;
    display: none;
    left: 0;
    height: 100%;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
}
